---
import qs from 'qs';
import youtubeThumbnail from 'youtube-thumbnail';
import Cards from '../../components/Cards.astro';
import Card from '../../components/Card.astro';
import Filter from '../../components/Filter.jsx';
import CineLayout from '../../layouts/CineLayout.astro';

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API_URL}/categories?populate=*`);
  const { data:categories } = await response.json();

  return categories.map(({attributes:category}) => {
    return {
      params: {category: category.slug}
    }
  });
}

const title = 'NSE Cine - Nuestra Señora del Encuentro con Dios';
const endpoint = 'cines';

const { category } = Astro.params;
 
const currentUrl = Astro.url;
const path = Astro.url.pathname;

const query = qs.stringify({
    fields: ['title', 'slug'],
    populate: {
      videos: '*',
      category: {
        fields: ['name',  'slug']
      }
    },
		filters: {
			category: {
				slug: {
					$eq: category
				}
			}
		},
		sort: 'createdAt:DESC'
  }, {
    encodeValuesOnly: true
  })

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API_URL}/${endpoint}?${query}`);
const { data:posts } = await response.json();
---

<CineLayout title={title}>

	<div class="space-y-4">
		<Filter data={posts} path={path} endpoint={endpoint} currentUrl={currentUrl} currentCategory={category} client:load/>
		<Cards>
			{posts.map(({attributes:post}) => {
					const { high } = youtubeThumbnail(post.videos[0].url);
					return (
						<Card 
							key={post.id}
							title={post.title} 
							image={high.url}
							imgw={high.width}
							imgh={high.height}
							url={path.replace(category, '') + post.slug}
							icon={post.type}
						/>
					)
				}
			)}
		</Cards>
	</div>

</CineLayout>