---
import qs from 'qs';
import Cards from '../../components/Cards.astro';
import Card from '../../components/Card.astro';
import Filter from '../../components/Filter.jsx';
import { getYoutubeVideoThumbnail } from '../../utils';
import RadioLayout from '../../layouts/RadioLayout.astro';

export async function getStaticPaths() {
  const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API_URL}/categories?populate=*`);
  const { data:categories } = await response.json();

  return categories.map(({attributes:category}) => {
    return {
      params: {category: category.slug}
    }
  });
}

const { category } = Astro.params;
 
const currentUrl = Astro.url;
const path = Astro.url.pathname;
const title = 'NSE Radio - Nuestra Señora del Encuentro con Dios';
const endpoint = 'radios';

const query = qs.stringify({
    fields: ['title', 'slug'],
    populate: {
      videos: '*',
      category: {
        fields: ['name',  'slug']
      }
    },
		filters: {
			category: {
				slug: {
					$eq: category
				}
			}
		},
		sort: 'createdAt:DESC'
  }, {
    encodeValuesOnly: true
  })

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_API_URL}/${endpoint}?${query}`);
const { data:posts } = await response.json();

const postsFiltered = posts.filter(({attributes:post}) => post.category.data.attributes.slug === '');

const postsToRender = postsFiltered.length === 0 ? posts : postsFiltered;
---

<RadioLayout title={title}>

	<div class="space-y-4">
		<Filter endpoint={endpoint} currentUrl={currentUrl} currentCategory={category} client:load/>
	
		<Cards>
			{postsToRender.map(({attributes:post}) => (
					<Card 
						title={post.title} 
						image={getYoutubeVideoThumbnail(post.videos[0].url, 'large')} 
						url={path.replace(category, '') + post.slug}
						icon={post.type}
					/>
				)
			)}
		</Cards>
	</div>

</RadioLayout>