---
import { Icon } from 'astro-icon/components'
import Cards from '../components/Cards.astro'
import Card from '../components/Card.astro'

const { title, cta } = Astro.props;
const [cta_label, cta_url] = cta;

const posts = [
  {
    id: 1,
    title: 'Novena a San José',
    image: 'https://admin.nseinternacional.org/public/nseinternacional/assets/2btaarubpekgggw8?key=medium',
    url: '',
    type: 'tv'
  },
  {
    id: 2,
    title: 'Novena a San José',
    image: 'https://admin.nseinternacional.org/public/nseinternacional/assets/2btaarubpekgggw8?key=medium',
    url: '',
    type: 'cine'
  },
  {
    id: 3,
    title: 'Novena a San José',
    image: 'https://admin.nseinternacional.org/public/nseinternacional/assets/2btaarubpekgggw8?key=medium',
    url: '',
    type: 'radio'
  },
  {
    id: 4,
    title: 'Novena a San José',
    image: 'https://admin.nseinternacional.org/public/nseinternacional/assets/2btaarubpekgggw8?key=medium',
    url: '',
    type: 'radio'
  }
]
---

<section class="my-10">
    <div class="container">
      <h2 class="font-semibold text-xl md:text-2xl uppercase pb-5">{title}</h2>

      <Cards>
        {posts.map((post) => (
          <Card 
            title={post.title} 
            image={post.image} 
            url={post.url}
            icon={post.type}
          />
        ))}
      </Cards>

      {cta.length > 0 && (
        <div class="pt-4 text-right">
          <a href={cta_url} class="font-semibold inline-flex items-center gap-1 text-secondary hover:text-primary">{cta_label} <Icon name="chevron-right" class="stroke-2" /></a>
        </div>
      )}
    </div>
</section>